

.form-container {
    border: cornflowerblue;
    background-color: antiquewhite;
    width: 500px;
    float: right;
    margin-right: 80px;
    padding: 10px;
    height: 880px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.map {
    float: left;
    position: absolute;
}

.SIR_values {
    float: left;
}

.API_values {
    float: right;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

#container {
    position: relative;
    float: left;
}
#container canvas, #map {
    position: absolute;
}
canvas {
    border: 1px solid black;
}

.signature {
    bottom: 20px;
    right: 0px;

}
