


.form {
    border: cornflowerblue;
    background-color: antiquewhite;
    width: fit-content;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    padding: 10px;
}

.map {
    float: left;
}

.SIR_values {
    float: left;
}

.API_values {
    float: right;
}

#container {
    position: relative;
    float: left;
}
#container canvas, #map {
    position: absolute;
}
canvas {
    border: 1px solid black;
}
