/* Set the size of the div element that contains the map */
/*This code was written for Hack the North East 2021 by Justin Melville and George Kent-Scheller.
v20210117
it incorporates data from:
CovidTracking.com,
" Epidemiological parameter review and comparative dynamics of influenza, respiratory syncytial virus, rhinovirus, human coronavirus, and adenovirus"
it is currently hosted on https://pandemicsimulator.neocities.org/.
*/
body {background-color: coral;}
#container {
  position: relative;
}
#container canvas, #overlay {
  position: absolute;
}
canvas {
  border: 1px solid black;
}